body {
    background-color: #FFF2BC;
}

/*titelbillede*/

#titelbillede {
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/titelbillede.png);
    background-size: 100%;
}

#titel {
    position: absolute;
    top: 18vw;
    left: 6vw;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: titel_pulse;
}

@keyframes titel_pulse {
    from {}
    to {
        transform: scale(0.9);
    }
}

#titel a {
    text-decoration: none;
    color: rgb(255, 141, 167);
    font-family: 'Comfortaa', cursive;
    font-size: 7vw;
}

/*styletile*/

#styletile img {
    max-width: 100vw;
}

/*scene*/

#knapper {
    display: none;
}

.afslutning {
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/afslutning.png);
    background-size: 100%;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/baggrund-01.png);
    background-size: 100%;
}

#mellemgrund2 {
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/mellemgrund2-01.png);
    background-size: 100%;
    position: absolute;
    bottom: 0;
}

#mellemgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/mellemgrund-01.png);
    background-size: 100%;
    position: absolute;
    bottom: 0;
}

#timer_sprite {
    background-image: url(grafik/timer_spritesheet.svg);
    top: -1vw;
    left: 4vw;
    background-size: 500% 100%;
    width: 16.67vw;
    height: 20.83vw;
    position: absolute;
}

.timer {
    animation-name: timer_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
}

@keyframes timer_kf {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -500% 0%;
    }
}



#riskiks {
    background-image: url(grafik/riskiksknap.svg);
    top: 19vw;
    left: 33vw;
    background-size: 100%;
    width: 8vw;
    height: 8vw;
    position: absolute;
    cursor: pointer;
}

#rosiner {
    background-image: url(grafik/rosinknap.svg);
    top: 15vw;
    left: 42vw;
    background-size: 100%;
    width: 8vw;
    height: 8vw;
    position: absolute;
    cursor: pointer;
}

#rosinerne {
    width: 150vw;
    height: 150vw;
    position: absolute;
    background-color: aqua;
    cursor: pointer;
}

.none {
    display: none;
}

.rosin {
    width: 0.94vw;
    height: 0.94vw;
    background-size: 100%;
    background-image: url(grafik/rosin.png);
    position: absolute;
    cursor: pointer;
}

.pos1 {
    top: 38.6vw;
    right: 38.6vw;
}

.pos2 {
    top: 41.93vw;
    right: 38.7vw;
}

.pos3 {
    top: 41.5vw;
    right: 34.5vw;
}

.pos4 {
    top: 43.45vw;
    right: 31.1vw;
}

.pos5 {
    top: 46.89vw;
    right: 36.05vw;
}

.buttons_pulse {
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: buttons_pulse;
}

@keyframes buttons_pulse {
    from {}
    to {
        transform: scale(1.1);
    }
}

.rosin_pulse {
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-name: rosin_pulse;
    cursor: pointer;
}

@keyframes rosin_pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.buttons_none {
    display: none;
}

#forgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/forgrund-01.png);
    background-size: 100%;
    position: absolute;
    bottom: 0;
}



#skyer,
#skyer2,
#skyer3 {
    width: 15.01vw;
    height: 4.3vw;
    background-image: url(grafik/skyer.svg);
    background-size: 100%;
    position: absolute;
    animation-name: skyer_move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

@keyframes skyer_move {
    from {}
    to {
        transform: translateX(-100vw);
    }
}

#skyer {
    top: 3vw;
}

#skyer2 {
    top: 0vw;
    right: 60vw;
}

#skyer3 {
    top: 4vw;
    right: 0;
}

/*karakterer*/

/*baby*/

#baby_container {
    position: absolute;
    top: 10.4vw;
    right: 25.5vw;
}

#baby_sprite {
    width: 31.25vw;
    height: 37.8vw;
    background-image: url(grafik/spritesheet_baby.png);
    background-size: 1200% 900%;
}

.baby_blinke {
    animation-name: baby_blinke_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
}

@keyframes baby_blinke_kf {
    0% {
        background-position: 0 -400%;
    }
    100% {
        background-position: -500% -400%;
    }
}

.baby_vinke {
    animation-name: baby_vinke_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
}

@keyframes baby_vinke_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -900% 0%;
    }
}

.baby {
    background-position: -900% 0;
}


.baby_tigge {
    animation-name: baby_tigge_kf;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
}

@keyframes baby_tigge_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -900% -100%;
    }
}

.baby_daadyr {
    animation-name: baby_daadyr_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
}

@keyframes baby_daadyr_kf {
    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -500% -200%;
    }
}

.baby_side {
    background-position: -400% -200%;
}

.baby_sur {
    background-position: 0% -600%;
}

.baby_spiseriskiks {
    animation-name: baby_spiseriskiks_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(12);
}

@keyframes baby_spiseriskiks_kf {

    0% {
        background-position: 0 -300%;
    }
    100% {
        background-position: -1200% -300%;
    }
}

.baby_vinkefarvel {
    animation-name: baby_vinkefarvel_kf;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: steps(9);
}

@keyframes baby_vinkefarvel_kf {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -900% 0%;
    }
}

.baby_tabe_rosiner {
    animation-name: baby_tabe_rosiner_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(7);
}

@keyframes baby_tabe_rosiner_kf {

    0% {
        background-position: 0 -500%;
    }
    100% {
        background-position: -700% -500%;
    }
}

.baby_rosiner {
    background-position: -600% -500%;
}

.baby_graeder {
    animation-name: baby_graeder_kf;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: steps(12);
}

@keyframes baby_graeder_kf {

    0% {
        background-position: 0 -600%;
    }
    100% {
        background-position: -1200% -600%;
    }
}

.baby_mmmm {
    animation-name: baby_mmmm_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(3);
}

@keyframes baby_mmmm_kf {

    0% {
        background-position: 0 -700%;
    }
    100% {
        background-position: -300% -700%;
    }
}

.baby_glad {
    background-position: 0% -800%;
}

/*mor*/

#mor_container {
    position: absolute;
    top: -3vw;
    left: 15vw;
}

#mor_sprite {

    width: 33.85vw;
    height: 43.22vw;
    background-image: url(grafik/mor_spritesheet.svg);
    background-size: 300% 100%;
}

.mor_armsup {
    background-position: -200% 0%;
}

.mor_armsdown {
    background-position: 0% 0%;
}

.mor_arme {
    animation-name: mor_arme_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(3);
}

@keyframes mor_arme_kf {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300% 0%;
    }
}



/*maage*/

#maage_container {
    position: absolute;
    animation-timing-function: linear;
}

#maage_sprite {
    width: 38.02vw;
    height: 38.54vw;
    background-image: url(grafik/maage_spritesheet.png);
    background-size: 1500% 400%;
}

.maage_walkcycle_left {
    animation-name: maage_walkcycle_left_kf;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
    animation-fill-mode: forwards;
}

@keyframes maage_walkcycle_left_kf {

    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -600% -200%;
    }
}

.maage_move_left {
    animation-name: maage_move_left_kf;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes maage_move_left_kf {
    0% {
        top: 6vw;
        right: -20vw;
        transform: scale(0.1);
    }
    100% {

        top: 8vw;
        right: -8vw;
        transform: scale(0.15);
    }
}

.maage_position_in {
    right: -8vw;
    top: 8vw;
}

.maage_position_two {
    top: 9vw;
    right: 2vw;
}

.maage_side {
    background-position: -1400% 0%;
}

.maage_kigge {
    animation-name: maage_kigge_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes maage_kigge_kf {
    0% {
        background-position: 0 -300%;
        transform: scale(0.15);
    }
    100% {
        background-position: -200% -300%;
        transform: scale(0.15);
    }
}

.maage_walkcycle_right {
    animation-name: maage_walkcycle_right_kf;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
}

@keyframes maage_walkcycle_right_kf {

    0% {
        background-position: 0 -100%;

    }
    100% {
        background-position: -600% -100%;
    }
}

.maage_move_right {
    animation-name: maage_move_right_kf;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes maage_move_right_kf {
    0% {
        top: 8vw;
        right: -8vw;
        transform: scale(0.15);
    }
    100% {
        top: 10vw;
        right: -25vw;
        transform: scale(0.2);
    }
}

.maage_move_left2 {
    animation-name: maage_move_left2_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes maage_move_left2_kf {
    0% {
        top: 12vw;
        right: -30vw;
    }
    100% {
        top: 9vw;
        right: 2vw;
    }
}


.maage_spiserosiner {
    animation-name: maage_spiserosiner_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(15);
}

@keyframes maage_spiserosiner_kf {

    0% {
        background-position: 0 0;

    }
    100% {
        background-position: -1500% 0;
    }
}

.maage_move_right2 {
    animation-name: maage_move_right2_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes maage_move_right2_kf {
    0% {
        top: 9vw;
        right: 2vw;
    }
    100% {
        top: 12vw;
        right: -40vw;
    }
}
